            <table class="diff-wrapper diff diff-html diff-inline explain">
                <tbody class="change change-rep">
                    <tr data-type="-">
                        <th class="sign del">-</th>
                        <td><small><em>The line should appear in the solution.</em></small></td>
                    </tr>
                    <tr data-type="+">
                        <th class="sign ins">+</th>
                        <td><small><em>The line should not appear in the solution.</em></small></td>
                    </tr>
                </tbody>
            </table>